<!DOCTYPE html>
<html>
  <head>
    <title>Trade Bot Settings</title>
    <link rel='stylesheet' href='/css/style.css' />

  </head>
  <body>

    <% include nav %>

    <div class="jumbotron">
      <div class="container-fluid">
        <h1>Settings</h1>
        <p>Use the form below to Update the Bot settings</p>
      </div>
    </div>

    <% include flash %>

    <div class="container-fluid">
      <form class="form-horizontal" role="form" method="POST" action="/settings">
      
        <div class="form-group">
          <h4>Bot Settings</h4>

          <label for="botName" class="control-label">Bot Name</label>
          <input type="text" class="form-control" name="app[botName]" id="botName" placeholder="Name"  required
            <% if (config.botName) { %>
              value="<%=  config.botName %>"
            <% } %>
          />

          <% var themes = Config.themes.slice(0); // collect the theme options
             themes.unshift('default');         // add the default theme to the front
          %>

          <label for="themeName" class="control-label">UI Theme</label>
          <select class="form-control" id="themeName" name="app[themeName]">
            <% for (var i = 0; i < themes.length; i++) {%>
              <%  var selected = (config.themeName === themes[i]) ? "selected" : ""; %>
              <option <%= selected %> value="<%= themes[i] %>"><%=themes[i]%></option>
            <% } %>
          </select>

          <script type="text/javascript">
            var themes = [
              <% for (var i = 0; i < themes.length; i++) { var last = i >= themes.length; %>'<%= themes[i]%>'<%= last ? "" : "," %><% } %>
            ]
            document.getElementById("themeName").onchange = function(){
              var themeTag = document.getElementById("themeTag");
              var theme = themes[this.selectedIndex];
              themeTag.href = "css/themes/bootstrap-" + theme + ".min.css";
            }
          </script>

          <div class="checkbox">
            <label>
              <% var checked = config.autostartAgg ? "checked" : ""; %>
              <input type="checkbox" id="autostartAgg" name="app[autostartAgg]"  <%= checked %> >
              Autostart data aggregation on server start
            </label>
          </div>

        </div>


        <div class="form-group">
          <button type="submit" class="btn btn-primary" name="setup" value="setup">Submit</button>
        </div>


      </form>
    </div>

    <% include bootstrap %>
  </body>
</html>